/* App.css */

.app {
  height: 100vh;
  font-family: "Inter", sans-serif; /* Use Inter font and fallback to sans-serif */
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #B5221A;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 10px;
  font-weight: bold;
}

.nav-button:hover {
  background-color: #B5221A;
}

.ui-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px; /* Set the maximum width for the entire layout */
  margin: 0 auto; /* Center the layout horizontally */
}

.top-links {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-family: "Inter", sans-serif; /* Apply Inter font to top-links */
}

.middle-routes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 95%; /* Adjust the width as needed */
  max-width: 100%; /* Set the maximum width to 100% */
  margin: 0 auto; /* Center the content horizontally */
  font-family: "Inter", sans-serif; /* Apply Inter font to middle-routes */
}

.bottom-button {
  display: flex;
  flex-direction: column; /* Adjust to column layout */
  align-items: center; /* Center content vertically */
  justify-content: center;
  margin-bottom: 20px;
  max-width: 100%;
  font-family: "Inter", sans-serif; /* Apply Inter font to bottom-button */
}

.bottom-button h2 {
  margin-bottom: 20px;
}

.logo-container {
  width: 150px; /* Set the width of the logo container as needed */
  margin-right: 20px; /* Add margin to create space between the logo and links */
  position: absolute;
  top: 0;
  left: 0;
}

.logo-image {
  width: 100%; /* Make the logo image fill the container */
  height: auto; /* Maintain the aspect ratio of the logo */
}

