/* App.css */

.app {
  height: 100%;
}

.ui-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-links {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.middle-routes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allow the container to take up remaining space */
  width: 70%;
  height: 70%;
}

.bottom-button {
  justify-content: center;
  margin-bottom: 20px; /* Adjust the margin as needed */
}
